<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebServiceUrl</key>
	<dict>
		<key>signup</key>
		<string>webservices/signup/</string>
		<key>signin</key>
		<string>webservices/login_user/</string>
		<key>verification</key>
		<string>webservices/verification/</string>
		<key>getOtp</key>
		<string>webservices/check_otp/</string>
		<key>forgotPassword</key>
		<string>webservices/forgetpassword/</string>
		<key>logoutUser</key>
		<string>webservices/user_logout/</string>
		<key>search</key>
		<string>webservices/search/</string>
	</dict>
</dict>
</plist>
