<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebServiceUrl</key>
	<dict>
		<key>signup</key>
		<string>webservices/signup/</string>
		<key>signin</key>
		<string>webservices/login_user/</string>
		<key>verification</key>
		<string>webservices/verification/</string>
		<key>getOtp</key>
		<string>webservices/check_otp/</string>
		<key>forgotPassword</key>
		<string>webservices/forgetpassword/</string>
		<key>logoutUser</key>
		<string>webservices/user_logout/</string>
		<key>search</key>
		<string>webservices/search/</string>
		<key>get_categories</key>
		<string>webservices/get_categories/</string>
		<key>get_products</key>
		<string>webservices/get_products/</string>
		<key>request_for_code</key>
		<string>webservices/request_for_code/</string>
		<key>clear_cart</key>
		<string>webservices/clear_cart/</string>
		<key>add_to_cart</key>
		<string>webservices/add_to_cart/</string>
		<key>view_cart</key>
		<string>webservices/view_cart/</string>
		<key>userFeedback</key>
		<string>webservices/user_feedback/</string>
	</dict>
</dict>
</plist>
